<div class="container">

  <div class="row">
    <div class="small-12 large-6 large-centered large-text-center columns">
Loginator
    </div>
  </div>


  <div class="row">
    <div class="large-12 columns">
      <form ng-submit="login.checkCreds()">
        <div class="row">
          <div class="medium-6 large-centered columns">
            <label>Username
              <input class="log-text" ng-model="login.credentials.un" type="text" placeholder="Enter Username">
            </label>
          </div>
          </div>
        <div class="row">
          <div class="medium-6 large-centered columns">
            <label>Password
              <input class="log-text" ng-model="login.credentials.pw" type="password" class="inputlg" placeholder="Enter Password">
            </label>

      <label>Playing Time:
        <select class="log-select" name="playTime" ng-model="main.countdownTimeout">
          <option value=60>1 minute</option>
          <option value=120>2 minutes</option>
          <option value=180>3 minutes</option>
        </select>
      </label>



            <button type="submit" class="large button">Check Me!</button>
          </div>
        </div>

      </form>
      <div ng-cloak ng-show="login.loginError" class="alert callout" data-closable>
        <h5>Login Error</h5>
        <p>Try again little kid!</p>
      </div>

    </div>
  </div>

</div>
