<div class="container">

    <div class="row">
        <div class="small-12 large-3 columns">
            <p>High Score: {{main.highScore}}</p>
        </div>
        <div class="small-12 large-6 large-text-center columns">
            Loginator
        </div>
        <div class="small-12 large-3 columns">
           <!--<p>Score: {{dataservice.gameScore}}</p>-->
            <p>Score: {{main.score}}</p>
            <p>Time: {{main.timeRemaining}}</p>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <form>
                <div class="row" >
                    <div class="medium-6 large-centered columns">
                        <label id="un">Username
                            <input  type="text" placeholder="Enter Username" data-ng-model="main.username">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 large-centered columns">
                        <label id="pw">Password
                            <input type="password" placeholder="Enter Password" data-ng-model="main.password"ng-pattern="a">
                        </label>
                    </div>
                </div>


    <div class="row">
        <div class="large-12 columns">
            <button type="button" class="large button" data-ng-click="main.localCredCheck()">Submit</button>
         </div>
    </div>   


<br>
{{main.userMessage}}
<br>
{{main.multiplierMessage}}
 <img align = "center" ng-src="{{main.monster}}"/>
            </form>

        </div>
    </div>

    <div ng-hide="main.gameStarted" class="countdown cell">
        {{main.countDownRemaining}}
    </div>

</div>




